:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
    --cor-nav-bar: #212529;
    --cor-bordar: #888888;
    --cor-hover-btn: #cccccc;
    --font-principal: "Montserrat";
}

.card {
    border: 2px solid var(--cor-card);

    box-shadow:2px 3px 5px #888;
}

.card-body{
    display: grid;
    grid-template-rows: auto 1rem auto auto;
    row-gap: 1rem;

    text-align: center;
    justify-content: center;

    background-color: var(--cor-card);
    color: var(--cor-letras);
}

.texto{
    color: var(--cor-letras);

    font-family: var(--font-principal);
}

.btn{
    border: 1px solid var(--cor-letras);
    
    font-family: var(--font-principal);
}

.btn:hover{
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;

    color: var(--cor-fundo);
}