:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
}

.card {
    border: 2px solid var(--cor-card);
}

.card-body{
    display: grid;
    grid-template-rows: 1rem 1rem auto auto;
    row-gap: 1rem;

    text-align: center;
    justify-content: center;

    background-color: var(--cor-card);
    color: var(--cor-letras);
}