:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
    --cor-nav-bar: #212529;
    --cor-bordar: #888888;
    --cor-hover: #cccccc;
    --font-principal: "Montserrat";
}

.card_roupas{
    width: 100%;
    border: 2px solid var(--cor-card);
    border-radius: 5px;
    box-shadow:2px 3px 5px #888;
    padding: 0.5rem;
    margin: 0.7rem;
}

.descricao{
    background-color: var(--cor-card);
}

.pri{
   display: block;
   visibility: visible; 
   opacity: 1;
}

.card_roupas:hover .pri{
    display: none;
    transition: .3s all ease;
    visibility: hidden;
    opacity: 0;
}

.seg{
    display: none;
    visibility: hidden;
    opacity: 0;
    position:relative;
    left: 0;
    top: 0;
}

.card_roupas:hover .seg{
    display: block;
    transition: .3s all ease;
    visibility: visible;
    opacity: 1;
}

.texto-loja{
    font-family: var(--font-principal);
}

.texto-loja:hover{
    color: var(--cor-hover);
}

.maisVendidos{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 2px solid var(--cor-card);
    border-radius: 5px;
}

.container__descricao{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    margin-top: 0.5rem;
}

.lista{
    gap: 1rem;
    width: 100%;
}

.preco{
    font-size: 1.1rem;
    font-family: var(--font-principal);
}

.pagamentoCartao{
    font-size: 0.5rem;
    font-family: var(--font-principal);
}

.formaDePagamento{
    font-size: 0.8rem;
    font-family: var(--font-principal);
}

.qtd{
    width: 50%;
}

label{
    font-family: var(--font-principal);
}

#offcanvasRightLabel{
    font-family: var(--font-principal);
    font-size: 1.5rem;
}

.box{
    border: 2px solid var(--cor-bordar);
    border-radius: 5px;
}

.btn__lixeira{
    width: auto;
}

@media (min-width: 330px) and (max-width: 560px){
    .largura__carde{
        width: 75%;
    }

    .texto-loja{
        font-size: 1rem;
    }
}

@media (min-width: 561px) and (max-width: 990px){
    .largura__carde{
        width: 40%;
    }

    .texto-loja{
        font-size: .8rem;
    }
}

@media (min-width: 991px){
    .largura__carde{
        width: 30%;
    }

    .texto-loja{
        font-size: 1rem;
    }
}

