:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
}

@media (min-width: 330px) and (max-width: 560px){
    .largura__carde{
        width: 75%;
    }
}

@media (min-width: 561px) and (max-width: 990px){
    .largura__carde{
        width: 40%;
    }
}

@media (min-width: 991px){
    .largura__carde{
        width: 30%;
    }
}

