:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
    --cor-cart-shows: #1f1e1e;
    --font-principal: "Montserrat";
}

.shows{
    background: var(--cor-cart-shows);
}

.localShows{
    height: 210px;
}

.listaDeShows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.cidadesDosShows{
    width: 500px;
    height: auto;
}

@media (min-width: 330px) and (max-width:580px){
    .cidadesDosShows{
        width: 300px;
        height: auto;
        margin: 0 .5rem;
    }
    
}