:root{
    --cor-fundo:  #262626;
    --cor-card:#4d4d4d;
    --cor-letras: #f1f1f1;
    --cor-nav-bar: #212529;
    --cor-bordar: #888888:
    --cor-hover-btn: #cccccc;
    --font-principal: "Montserrat";
    --icone-lista:"bi bi-list"
}

.body{
    color: var(--cor-letras);
    background-color: var(--cor-fundo);

    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1rem;
}

.main{
    background-color: var(--cor-fundo);
}



[data-bs-theme="light"]{
    color: black;
    .navbar-nav, .titulo-nav, .texto, .shows, card-body, .footer, .main, .navbar-toggler {
    --bs-navbar-active-color: black;
    --cor-letras: black;
    --cor-fundo: #f2f2f2;
    --cor-cart-shows: #888888;
    --cor-card: #888888;
    --cor-nav-bar: #f8f9f4
   
}}